// tusi
$light: #F6F6F6;
$secondary:#EEEEEE;
// box2
$success:#F5FFFA;
// box3
$info:#F5FAFF;
$warning:#A3BFB1;

$danger:#FAF5FF;
$dark:#EAECF0;
$primary: #0645AD;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import "../../node_modules/rfs/scss.scss";

